<div class="container-fluid card-deck">
  <div class="card customCard" style="width: 18rem;">
      <div class="container imagemCard">
          <img class="card-img-top" src="../../../../assets/img/relogio.png" alt="Card image cap">
      </div>
      <div class="card-body">
          <p class="tituloProduto">Relógio Digital Mormaii MO3415 - Masculino</p>
          <a class="valorProduto">R$139,90</a>
          <p class="parcelaProduto">Até 4x de R$50,00 sem juros</p>
          <a href="#" class="btn btn-outline-success">Adicionar ao carrinho</a>
      </div>
  </div>

  <div class="card customCard" style="width: 18rem;">
      <div class="container imagemCard">
          <img class="card-img-top" src="../../../../assets/img/relogio.png" alt="Card image cap">
      </div>
      <div class="card-body">
          <p class="tituloProduto">Relógio Digital Mormaii MO3415 - Masculino</p>
          <a class="valorProduto">R$139,90</a>
          <p class="parcelaProduto">Até 4x de R$50,00 sem juros</p>
          <a href="#" class="btn btn-outline-success">Adicionar ao carrinho</a>
      </div>
  </div>

  <div class="card customCard" style="width: 18rem;">
      <div class="container imagemCard">
          <img class="card-img-top" src="../../../../assets/img/relogio.png" alt="Card image cap">
      </div>
      <div class="card-body">
          <p class="tituloProduto">Relógio Digital Mormaii MO3415 - Masculino</p>
          <a class="valorProduto">R$139,90</a>
          <p class="parcelaProduto">Até 4x de R$50,00 sem juros</p>
          <a href="#" class="btn btn-outline-success">Adicionar ao carrinho</a>
      </div>
  </div>
</div>
